.loginBox {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authHeading {
    font-family: 'Poppins', sans-serif;
    color: #03014C;
    /* font-family: Open Sans; */
    font-size: 33px;
    font-weight: 700;
}
.providerLogin {
    border: 1px solid #03014C;
    border-radius: 8px;
    padding: 20px 30px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
}
.providerLogin span {
    color: #03014C;
    /* font-family: Open Sans; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.267px;
}
/* .loginBox .form-main {
    margin-top: 30px;
} */
.loginImg {
    overflow: hidden;
    object-fit: cover;
}
.loginImg img {
    width: 100%;
    height: 100vh;
}
/* .loginIcon{
    box-shadow: none;
    text-transform: none;
    font-style: 50px;
    padding: 20px 12px;
    border-radius: 75px;
    border: 1px solid;
    line-height: 1.5;
    background-color: red;
    border-color: #0063cc;
    font-family: poppins;
} */
/* .loginIcon:hover {
    background-color: yellow;
    border-color: #0062cc;
    box-shadow: none;
}
.loginIcon:active{
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: none;
}
.loginIcon:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
} */
