.loginBox {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBoxInner {
    width: 390px;
}
.authHeading {
    color: #03014C;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.loginBoxInner span {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.providerLogin {
    border: 1px solid #03014C;
    border-radius: 8px;
    padding: 20px 30px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}
.providerLogin span {
    color: #03014C;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.267px;
}
.loginBox .formMain {
    margin-top: 30px;
}
.formMain {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.loginImg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.loginImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inputStyle {
    width: 100%;
}
.passIcon {
    display: flex;
    align-items: center;
    position: relative;
}
.passIconError {
    left: 0;
    bottom: -55px;
    position: absolute;
    width: 100%;
}
.passIcon span {
    position: absolute;
    content: '';
    right: 10px;
    top: 18px;
}
.errorText {
    margin-top: 10px;
    color: #FFF !important;
    background-color: #ff000076 !important;
}
.loginBtn {
    background-color: #5F34F5 !important;
    color: white;
    padding: 25px 0 !important;
    font-style: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px !important;
}
.regBtn {
    background-color: #5F34F5 !important;
    color: white;
    padding: 25px 5px !important;
    font-style: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 75px !important;
}
.loginAuth {
    font-style: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #03014C;
    padding-top: 20PX;
    text-align: center;
}
.loginAuth a {
    color: #EA6C00;
    font-weight: 700;
    text-transform: capitalize;
    padding-left: 8px;
    cursor: pointer;
}
#forgot-password-modal {font-size: 30px !important;}
.loginBoxInner button {
    margin-top: 15px;
}
.closeIcon button {
    position: absolute;
    content: '';
    right: 35px;
    top: 35px;
    color: #000;
    font-size: 40px;
}
.resetBtn {
    margin: 30px 0 !important;
    background-color: #008cea !important;
    color: white !important;
    border-radius: 10px !important;
}