/* -------------sidebar css----------------- */
.navbar {
    padding:15px 20px;
    height: 100%;
    width: 100%;
}
.sideNavbar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #5F35F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    row-gap: 30px;
}
.sideNavbar .proImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e0f2ec;
    margin: 0 auto;
}
.proImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userName{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}
.navbarItems {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.navbarItems li a{
    display: inline-block;
    color: #ffffffd1;
    font-size: 40px;
    padding: 0px 35px;
    border-radius: 18px 0px 0px 18px;
}
.navbarItems li a.active {
    color: #5F35F5;
    background-color: #FFF;
}
.logoutBtn {
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}
